
<div id="userMap">
<div class="content"><a href="mydoc_vid-graphics.html"><div class="box box1">Video Graphics</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="mydoc_atem-ctrl.html"><div class="box box2">Configure Switcher</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="mydoc_ptz.html"><div class="box box3">Camera Presets</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="mydoc_broadcast_audio.html"><div class="box box4">Audio Levels</div></a></div>
<div class="arrow">→</div>
<div class="content"><a href="mydoc_broadcast_video.html"><div class="box box5">Begin Broadcast</div></a></div>
<div class="clearfix"></div>

</div>

{% comment %} Copyright 2021 Google LLC {% endcomment %}
